body{
    font-family: monospace;
}

.section-title{
    padding-top: 60px;
    padding-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

h2{
    text-decoration: underline;
}

#contact{
    background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  }
  
  #contact select{
    -webkit-appearance: menulist;
    appearance: menulist;
    font-family: monospace;
    color: black;
  }

  .serial-no{
    font-family: monospace;
    padding-bottom: 30px;
    color: white;
    font-size: 18px;
  }

  .label{
    text-decoration: underline;
    font-weight: 900;
    padding-top: 3vh;
    font-size: 17px;
  }
  
  optgroup{
    font-family: monospace;
  }
  
  #contact ::placeholder{
    font-family: monospace;
  }
  
  #contact input{
    font-family: monospace;
  }
  
  #contact input:focus{
    outline-style: none;
    box-shadow: none;
    border: 2px solid;
    border-color: rgb(76, 167, 202);
  }
  
  #contact select:focus{
    outline-style: none;
    box-shadow: none;
    border: 2px solid;
    border-color: rgb(76, 167, 202);
  }
  
  #contact textarea:focus{
    outline-style: none;
    box-shadow: none;
    border: 2px solid;
    border-color: rgb(76, 167, 202);
  }
  
  #contact span{
    font-family: monospace;
    font-size: 22px;
  }
  
  .form-group{
    margin-bottom: 3vh;
  }
  
  #contact textarea{
    font-family: monospace;
    color: black;
  }
  
  #contact input{
    color: black;
  }

  label{
    font-family: monospace;
    margin-bottom: 2vh;
    color: white;
  }
  
  input[type="submit"] {
    width: 100px;
    background-color: white;
    color: black !important;
    padding: 5px;
    font-family: monospace;
    border-radius: 3px;
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
  }

  input[type="submit"]:hover{
    background-color: black;
    color: white !important;
  }
